


<div class="wrapper">

  <h1><span class="blue">&lt;</span>Car Tracker<span class="blue">&gt;</span> <span class="yellow"> IoT</span></h1>
  <!--<h2> submitted by  <a href="http://pablogarciafernandez.com" target="_blank">Harish Sekar</a></h2>-->

  <div class="button" routerLink="/vehicles">

    <span class="button__mask"></span>
    <span class="button__text">Vehicles List</span>
    <span class="button__text button__text--bis">Vehicles</span>

  </div>

  <br>

  <div class="button" routerLink="/readingall">
    <span class="button__mask"></span>
    <span class="button__text">Readings List</span>
    <span class="button__text button__text--bis">Readings List</span>
  </div>

  <br>

  <!--<div class="button">-->
    <!--<span class="button__mask"></span>-->
    <!--<span class="button__text">https://github.com/harisek36</span>-->
    <!--<span class="button__text button__text&#45;&#45;bis">https://github.com/harisek36</span>-->
  <!--</div>-->
</div>
